<div class="col-xs-1" />
<div class="col-xs-10">
  {{input name="new-thread-title" autofocus=true placeholder="Enter a title."}}
  {{textarea name="new-thread-content" placeholder="Type here the content of the post."}}
  <span {{action 'submit' model}} class="reply-post" style="margin-right:10px"> Submit <i class="fa fa-reply"></i></span>
  <span {{action 'cancel' model}} style="color:#337ab7"> Cancel </span>
</div>
<div class="col-xs-1" />
