body {
	text-align: left;  
	margin: 40px auto;
}

.no-underline {
	text-decoration: none !important;
}

/* HEADER */

.nav {
	margin-right: 20%;
}

.nav-item {
	font-size: 18px;
	font-weight: 500;
	margin-right: 10%;
}

.nav-item:last-child {
    margin-right: 0%;
}

.navicon {
	color: #337ab7;
	margin-left: 2%;
	margin-right: 2%;
}

.navicon-div {
	display: inline;
}

/* LOGIN */

.login-form {
	margin-top: 30%;
}

.remember {
	color: #8899a6;
}

.remember-checkbox {
	display: inline;
}

.login-btn {
	margin-top: 3%;
}

.login-form-last-row {
	width: 100%;
}

.sign-up {
	float: right;
}

/* SIGN UP */

.sign-form {
	margin-top: 18%;
}