body {
  text-align: left;
  margin: 40px auto;
}
[data-ember-action] {
  cursor: pointer;
}
.no-underline {
  text-decoration: none !important;
}
.profile-picture {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background: #af7544;
  color: #fff;
  text-align: center;
  margin-right: 1%;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
}

/* HEADER */

.nav {
  margin-right: 20%;
}
.nav-item {
  font-size: 18px;
  font-weight: 500;
  margin-right: 10%;
}
.nav-item:last-child {
  margin-right: 0%;
}
.navicon {
  color: #337ab7;
  margin-left: 2%;
  margin-right: 2%;
}
.navicon-div {
  display: inline;
}

/* LOGIN */

.login-form {
  margin-top: 30%;
}
.remember {
  color: #8899a6;
}
.remember-checkbox {
  display: inline;
}
#login-btn {
  margin: auto;
  margin-top: 3%;
  width: 40%;
  display: block;
}
.login-form-last-row {
  width: 100%;
}
.sign-up {
  float: right;
}

/* SIGN UP */

.sign-form {
  margin-top: 18%;
}
#sign-btn {
  margin: auto;
  width: 30%;
  display: block;
}

/* FORGOTTEN PASSWORD */

.forgotten-form {
  margin-top: 42%
}
.reset-form {
  margin-top: 40%;
}
#forgotten-btn {
  margin: auto;
  width: 30%;
  display: block;
}
#reset-btn {
  margin: auto;
  display: block;
}

/* SELECT 2 */

.select2-choice {
  height: 100% !important;
  line-height: 30px !important;
}
