<div class="modal fade bs-example-modal-sm" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
    	Verication was successful
    </div>
  </div>
</div>
